<ion-view hide-menu-button="true" view-cache="false">
 <ion-nav-title>
      <img ng-src="img/logo.png" class="header-logo">
 </ion-nav-title>
  <ion-content>
    <div class="cover-item-wrapper">
		<div class="cover-item">
		<div class="cover-overlay"> 
		 	<div class="cover-input-about">
        <div class="cover-heading-text about-cover-text">About Radius8</div> 
		</div>  
		</div>
		</div>
    </div> 

<div class="about-radius8 padding">
 
 <p>
 	We at Radiuz 8 reckon that celebrities provide the best platforms for promoting a particular brand or business. We believe that presenting a prominent face is one of the fastest and easiest ways for companies to create brand associations in the minds of consumers.
 </p>
 <p>
 	We offer premium service for bridging the gap between your business and the celebrities. We assure to give you the best marketing strategy for your business, by utilizing the stardom and popularity of the celebrities.
 </p>
 <p class="bold">
 	Here, you will find celebrities from all the fields, starting from bollywood actor/ actresses to the famous sports personalities!
 </p>
</div>
  </ion-content>
</ion-view>
