<ion-view hide-menu-button="true">
    <ion-nav-title>
        <img ng-src="img/logo.png" class="header-logo">
    </ion-nav-title>
    <ion-content>
        <div class="cover-item-wrapper cover-detail-wrapper">
            <div class="cover-item cover-item-detail">
                <div class="cover-overlay">
                  	<div class="celeb-img-detail">
                  		<img ng-src="img/kohli.jpg">
                  	</div>
                  	<div class="celeb-info-detail">
                  		<h2>Virat Kohli</h2>
                  		<p>Cricket, Sports</p>
                  		<p>27, Male. Mumbai</p>
                  		<p><a href="">www.imvirat.com</a></p>
                  	</div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
