<ion-view hide-menu-button="true">
    <ion-nav-title>
        <img ng-src="img/logo.png" class="header-logo">
    </ion-nav-title>
    <ion-subheader-bar class="bar bar-subheader">
        <div class="row">
            <div class="col-60">
                <h3 class="listing-title">Celebrities on Radiuz8</h3>
            </div>
            <div class="col-20 filter-btn-wrap">
                <button class="button button-icon button-clear ion-search"></button>
            </div>
            <div class="col-20 filter-btn-wrap">
                <button class="button button-icon button-clear ion-funnel" ng-click="openFilters()"></button>
            </div>
        </div>
    </ion-subheader-bar>
    <ion-content class="has-subheader">
        <div class="celebrity-listing listing-listing">
            <div class="list list-listing" ng-repeat="celeb in celebs">
                <span class="item item-thumbnail-left">
       <a class="celeb-img-a" ng-href="{{getSegment(celeb.permalink)}}"><img ng-src="{{::celeb.img}}" class="listing-img"> </a> 
      <a   ng-href="{{getSegment(celeb.permalink)}}" class="celeb-name"><h2>{{::celeb.title}}</h2></a> 
      <p class="mt2">{{::celeb.age}}<span ng-if="celeb.age">,</span> {{::celeb.gender}}</p>
                <p>Social Reach: {{::celeb.reach}}</p>
                <button class="radiuz-button radiuz-primary" ng-if="!celeb.isFollow" ng-click="follow($event, celeb.id, celeb.title)">Follow</button>
                <button class="radiuz-button radiuz-primary" ng-if="celeb.isFollow" ng-click="follow($event, celeb.id, celeb.title)">Unfollow</button>
                </span>
            </div>
            <div class="txt-center" ng-if="!canLoadMore">
                <p class="no-more-celeb">All celebrities listed.</p>
            </div>
        </div>
        <ion-infinite-scroll on-infinite="loadMoreCeleb()" ng-if="canLoadMore" immediate-check="false" distance="1%"></ion-infinite-scroll>
    </ion-content>
</ion-view>
<script id="templates/filters.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar bar-dark">
            <h1 class="title">Filter</h1>
           <button class="button button-icon button-clear ion-close-round" ng-click="closeFilters()" menu-toggle="right">
        </button> 
        </ion-header-bar>
        <ion-content has-bouncing="false" class="filter-modal">
            <div class="row pm0">
                <div class="left-panel col-33 full-height ">
                    <div class="list" ng-init="showCat = 'cat'">
                        <a class="item noborder" ng-click="showCat = 'cat'">
    Category
  </a>
                        <a class="item noborder" ng-click="showCat = 'showSubCat'" ng-show="subcat.length">
  Sub Category
  </a>
                        <a class="item noborder" ng-click="showCat = 'reach'">
    Reach
  </a>
                        <a class="item noborder" ng-click="showCat = 'age'">
    Age 
  </a>
                        <a class="item noborder" ng-click="showCat = 'socialfollow'">
    Social Followers
  </a>
                        <a class="item noborder" ng-click="showCat = 'gender'">
    Gender
  </a>
                        <a class="item noborder" ng-click="showCat = 'pricing'">
    Pricing  
  </a> </div>
                </div>
                <div class="right-panel col-67 white-bg">
                    <span ng-show="showCat == 'cat'">
                    <ion-list> 
                      <ion-radio class="noborder" ng-click="filterCatCeleb()"  ng-value="" ng-model="filters.cat">All Category</ion-radio>  
                        <ion-radio class="noborder" ng-repeat="filter in filterCat" ng-click="filterCeleb('resetCat')"  ng-value="filter.cat_ID" ng-model="filters.cat">{{::filter.name}}</ion-radio>
                    </ion-list> 
                    
                    </span>
                    <span ng-show="showCat == 'showSubCat'"> 
                  <span  ng-repeat="subcatitem in subcat">
                        <span class="sub-cat-title item"> {{::subcatitem.cat_name}} </span>

                    <ion-list class="sub-cat-li">

                        <ion-checkbox ng-repeat="subcatChild in subcatitem.children" ng-click="toggleSelection(subcatChild.cat_ID)">{{::subcatChild.cat_name}}</ion-checkbox>

                    </ion-list>

                    </span>
                    </span>
                    <span ng-show="showCat == 'reach'">
                    <ion-list>
                        <ion-radio class="noborder" ng-model="filters.sort" ng-value="0" ng-click="filterCeleb()">Low to High</ion-radio> 
                        <ion-radio class="noborder" ng-model="filters.sort" ng-value="1" ng-click="filterCeleb()">High to Low</ion-radio>
                    </ion-list> 
                </span>
                    <span ng-show="showCat == 'age'">
                    <ion-list>
                        <div class="">
                            <div class="col"><input type="text" ng-model="filters.filters.age_min" class="filter-input" placeholder="Min age" /></div>
                            <div class="col"><input type="text" ng-model="filters.filters.age_max" class="filter-input" placeholder="Max age" /></div>
                        </div>
                    </ion-list> 
                    <div class="m4">
                        <a class="button  w100 radiuz-primary line-h50" ng-disabled="!filters.filters.age_min || !filters.filters.age_max" ng-click="filterCeleb()" >Apply</a>
                    </div>
                </span>
                    <span ng-show="showCat == 'gender'">
                    <ion-list> 
                             <ion-checkbox ng-model="filters.filters.male" ng-click="filterCeleb()">Male</ion-checkbox>
                      <ion-checkbox ng-model="filters.filters.female" ng-click="filterCeleb()">Female</ion-checkbox>
                      <ion-checkbox ng-model="filters.filters.others" ng-click="filterCeleb()">Other</ion-checkbox> 
                    </ion-list> 
                </span>
                    <span ng-show="showCat == 'pricing'">
                    <ion-list> 
                      <div class="">
                            <div class="col"><input type="text" ng-pattern=" /^[0-9]{1,7}$/" ng-model="filters.filters.price_min"  class="filter-input" placeholder="Min price" /></div>
                            <div class="col"><input type="text" ng-pattern=" /^[0-9]{1,7}$/" ng-model="filters.filters.price_max"  class="filter-input" placeholder="Max price" /></div>
                        </div>
                    </ion-list> 
                     <div class="m4">
                        <a class="button  w100 radiuz-primary line-h50" ng-disabled="!filters.filters.price_min || !filters.filters.price_max" ng-click="filterCeleb()" >Apply</a>
                    </div> 
                </span>
                    <span ng-show="showCat == 'socialfollow'">
                    <ion-list > 
                        <div class="heading-sub">Facebook</div>
                            <div class="col"><input type="text" ng-model="filters.filters.fb_min" class="filter-input" placeholder="Min" /></div>
                            <div class="col"><input type="text" ng-model="filters.filters.fb_max" class="filter-input" placeholder="Max" /></div>
                       
                        <div class="heading-sub">Twitter</div>
                            <div class="col"><input type="text" ng-model="filters.filters.tw_min" class="filter-input" placeholder="Min" /></div>
                            <div class="col"><input type="text" ng-model="filters.filters.tw_min" class="filter-input" placeholder="Max" /></div>
                        
                        <div class="heading-sub">Instagram</div>
                            <div class="col"><input type="text" ng-model="filters.filters.insta_min" class="filter-input" placeholder="Min" /></div>
                            <div class="col"><input type="text" ng-model="filters.filters.insta_max" class="filter-input" placeholder="Max" /></div>
                         
                        <div class="heading-sub">YouTube</div>
                            <div class="col"><input type="text" ng-model="filters.filters.youtube_min" class="filter-input" placeholder="Min" /></div>
                            <div class="col"><input type="text" ng-model="filters.filters.youtube_max" class="filter-input" placeholder="Max" /></div>
                        
                        <div class="heading-sub">Google Plus</div>
                            <div class="col"><input type="text" ng-model="filters.filters.google_min" class="filter-input" placeholder="Min" /></div>
                            <div class="col"><input type="text" ng-model="filters.filters.google_max" class="filter-input" placeholder="Max" /></div>
                        
                    </ion-list> 
                    <div class="m4">
                        <a class="button  w100 radiuz-primary line-h50"  ng-click="filterCeleb()">Apply</a>
                    </div>
                </span>
                </div>
            </div>

        </ion-content>
        <ion-footer-bar class="bar bar-footer bar-dark">
            <button class="button   ml3" ng-click="filterCeleb('clear')">Clear Filter(s)</button>
            <button class="button   mt-4" ng-click="closeFilters()">Done</button>

        </ion-footer-bar>
    </ion-modal-view>
</script>