<ion-view hide-menu-button="true">
 <ion-nav-title>
      <img ng-src="img/logo.png" class="header-logo">
 </ion-nav-title>
  <ion-content>
  <ion-list> 
    <a class="item item-avatar celeb-name" ui-sref="app.chat">
      <img ng-src="img/kohli.jpg">
      <h2>Virat Kohli</h2>
      <p>Cricketer</p>
    </a>
    <a class="item item-avatar celeb-name" ui-sref="app.chat">
      <img ng-src="img/srk.jpg">
      <h2>Shahrukh Khan</h2>
      <p>Actor, Producer, Director</p>
    </a>
    <a class="item item-avatar celeb-name" ui-sref="app.chat">
      <img ng-src="img/dhoni.jpg">
      <h2>MS Dhoni</h2>
      <p>Cricketer</p>
    </a>
 </ion-list>
  </ion-content>
</ion-view>
