<ion-view hide-menu-button="true">
 <ion-nav-title>
      <img ng-src="img/logo.png" class="header-logo">
 </ion-nav-title>
  <ion-content>
  <ion-list> 
    <a class="item item-avatar celeb-name" ui-sref="app.chat({celebId: chatlist.to, name:chatlist.userName})" ng-repeat="chatlist in msgList.msgedUsers">
      <img ng-src="{{::chatlist.profile_pic}}">
      <h2 class="mt15">{{::chatlist.userName}}</h2>
      <!-- <p>{{::chatlist.profile_pic}}</p> -->
    </a> 
    <a class="item  celeb-name" ng-if="!msgList.msgedUsers.length">
      
      <h2 class="mt15">No chat history found</h2>
      <!-- <p>{{::chatlist.profile_pic}}</p> -->
    </a> 
 </ion-list>
  </ion-content>
</ion-view>
