 
  <ion-popover-view class="header-popover">
     
    <ion-content>
      <ion-list>
 
  <a ui-sref="app.user-profile" ng-click="popover.hide()" class="item item-icon-left menu-item">
    <i class="icon ion-chevron-right"></i>
    User Profile
  </a>
 
  <a ui-sref="app.user-profile" ng-click="popover.hide()" class="item item-icon-left menu-item">
    <i class="icon ion-chevron-right"></i>
    User Profile
  </a>

  <a ng-click="popover.hide()" class="item item-icon-left menu-item">
    <i class="icon ion-chevron-right"></i>
    Search
  </a>

  <a  ui-sref="app.feeds" ng-click="popover.hide()" class="item item-icon-left menu-item">
    <i class="icon ion-chevron-right"></i>
    My Feeds
  </a> 

</ion-list>
    </ion-content>
  </ion-popover-view>
 