<ion-view hide-menu-button="true">
 <ion-nav-title>
      <img ng-src="img/logo.png" class="header-logo">
 </ion-nav-title>
  <ion-content>
     <span>
        <h4 class="content  profile-head double-padding-x">Contact </h4>
        <p class="fz12 profile-head">If you want to claim your profile / wish to add your profile / have any query / comments, please</p>
   <form name="userProfile">
          <div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label fz14"> Name*</span>
    <input type="text" placeholder="Enter Name">
  </label> 
  <label class="item item-input item-stacked-label">
    <span class="input-label fz14">Email*</span>
    <input type="email" placeholder="Enter valid Email">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label fz14">Mobile*</span>
    <input type="email" placeholder="Enter valid Mobile Number">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label fz14">Subject*</span>
    <input type="text" placeholder="Enter Subject">
  </label>

  <label class="item item-input item-select">
    <div class="input-label">
      Service*
    </div>
    <select class="bg-f4">
    <option >Select an option</option>
      <option>Claim Profile</option>
      <option>Add New Profile</option>
      <option>General Query</option>
      <option>Support</option>
      <option>Other</option>
    </select>
  </label>


  <label class="item item-input item-stacked-label">
    <span class="input-label fz14">Message*</span>
    <textarea placeholder="Your Message" class="textarea-height"></textarea>
  </label> 
</div>

 <div class="row">
  <a class="button  w100 radiuz-primary line-h50"  >Send</a>
</div> 

      </form>
 
 
    </span>
  </ion-content>
</ion-view>
