<ion-view>
 <ion-nav-title>
      <img ng-src="img/logo.png" class="header-logo">
 </ion-nav-title>
  <ion-content>
    <div class="cover-item-wrapper">
		<div class="cover-item">
		<div class="cover-overlay">
			<div class="cover-input-wrapper">
				<input type="search" class="cover-search-input" placeholder="Search ex Amir Khan, PK etc.">
			</div>
		 	<div class="cover-input-text">
				<div class="cover-heading-text">Howdy! Guest</div>
				<a class="cover-feed-text"> My Feeds</a>
			</div>  
		</div>
		</div>
    </div> 

  <div class="row">
  <a class="button  w100 radiuz-primary">View All Celebrities</a>
</div> 
   <div class="row pt12">
            <div class="col-60">
                <h3 class="listing-title">Top Celebrities</h3>
            </div>
            <div class="col-40 txt-right" ui-sref="app.celebrity-listing">
      <button class="radiuz-button radiuz-primary anchor-type-btn" ui-sref="app.celebrity-listing">View All</button>
                 
            </div>
        </div>
<div class="celebrity-listing home-listing">
<div class="list list-listing">

    <span class="item item-thumbnail-left"  >
       <a class="celeb-img-a"  ui-sref="app.celebrity-detail"><img ng-src="img/kohli.jpg" class="listing-img"></a> 
  	  <a  ui-sref="app.celebrity-detail" class="celeb-name"><h2>Virat Kohli</h2> </a>
      <p class="mt2">Cricketer</p>
      <p>Social Reach: 1256K</p>
      <button class="radiuz-button radiuz-primary">Follow</button>

    </span>
</div>
<div class="list list-listing">

    <span class="item item-thumbnail-left"  >
      <a class="celeb-img-a"  ui-sref="app.celebrity-detail"><img ng-src="img/srk.jpg" class="listing-img"></a>
      <a  ui-sref="app.celebrity-detail" class="celeb-name"><h2>Shahrukh Khan</h2></a>
      <p class="mt2">Actor</p>
      <p>Social Reach: 3255K</p>
      <button class="radiuz-button radiuz-primary">Follow</button>
    </span>

</div>
<div class="list list-listing">

    <span class="item item-thumbnail-left"  >
      <a class="celeb-img-a"  ui-sref="app.celebrity-detail"><img ng-src="img/Dhoni.jpg" class="listing-img"></a>
      <a  ui-sref="app.celebrity-detail" class="celeb-name"><h2>M.S. Dhoni</h2></a>
      <p class="mt2">Cricketer</p>
      <p>Social Reach: 4555K</p>
      <button class="radiuz-button radiuz-primary">Follow</button>
    </span>
</div>
<div class="list list-listing">

    <span class="item item-thumbnail-left"  >
       <a class="celeb-img-a"  ui-sref="app.celebrity-detail"><img ng-src="img/kohli.jpg" class="listing-img"></a> 
  	  <a  ui-sref="app.celebrity-detail" class="celeb-name"><h2>Virat Kohli</h2> </a>
      <p class="mt2">Cricketer</p>
      <p>Social Reach: 1256K</p>
      <button class="radiuz-button radiuz-primary">Follow</button>

    </span>
</div>
<div class="list list-listing">

    <span class="item item-thumbnail-left"  >
      <a class="celeb-img-a"  ui-sref="app.celebrity-detail"><img ng-src="img/srk.jpg" class="listing-img"></a>
      <a  ui-sref="app.celebrity-detail" class="celeb-name"><h2>Shahrukh Khan</h2></a>
      <p class="mt2">Actor</p>
      <p>Social Reach: 3255K</p>
      <button class="radiuz-button radiuz-primary">Follow</button>
    </span>

</div>
<div class="list list-listing">

    <span class="item item-thumbnail-left"  >
      <a class="celeb-img-a"  ui-sref="app.celebrity-detail"><img ng-src="img/Dhoni.jpg" class="listing-img"></a>
      <a  ui-sref="app.celebrity-detail" class="celeb-name"><h2>M.S. Dhoni</h2></a>
      <p class="mt2">Cricketer</p>
      <p>Social Reach: 4555K</p>
      <button class="radiuz-button radiuz-primary">Follow</button>
    </span>
</div>
</div>
 
  </ion-content>
</ion-view>
