/* Empty. Add your own CSS if you like */
/* Common CSS */

/* End Common CSS */
.white{
	color: #fff !important;
}
.w100{
	width: 100% !important;
}
.pt12{
	padding-top: 12px !important;
}
.mt2{
	 margin-top: 2px;
	 margin-bottom: 0px !important;
}
a.menu-item {
    color: #424242;
    text-transform: UPPERCASE;
    font-weight: bold;
}
a.menu-item i {
    font-size: 18px !important;
}
.header-logo{
	 height: 30px;
    margin-top: 8px;
}
.menu-bottom {
    bottom: 45px !important; 
}
.menu-option-bottom a {
    color: #ddd;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 10px 10px 0px;
} 
.menu-option-bottom i{
	margin-right: 4px !important;
}
.menu-option-bottom {
    bottom: 16px;
    left: 18px;
    right: 16px;
    position: absolute;
}
span.badge.custom-badge {
    position: absolute;
    top: 5px;
    left: 15px;
    background: #EC1D23;
    padding: 0px 2px;
    color: #fff;
    border: none;
}
.radiuz-primary, .radiuz-primary:hover{
	background-color: #EC1D23;
	color: #fff;
}
.txt-center{
	text-align: center !important;
}
/* Home CSS */
.anchor-type-btn{
	background: white;
    color: #EC1D23 !important;
}
.anchor-type-btn:hover{
	background: white;
    color: #EC1D23 !important;
}
.cover-item-wrapper{
	max-height: 250px;
	width: 100%;
	overflow: hidden !important;
}
.cover-item{
	background-image: url('../img/home-bg.jpg');
	height: 250px;
	width: 100%;
	background-size: cover;
	       
}
.cover-input-wrapper{
	 text-align: center !important;
    clear: both;
    width: 100%;
} 
/*.cover-item:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(transparent, black);
}*/
.cover-overlay{
  background: linear-gradient(transparent, black);
  height: 100%;
}
input.cover-search-input {
  width: 90%;
    padding: 10px;
    font-size: 16px;
    opacity: 0.9;
    position: relative;
    top: 77px;
    border-radius: 2px;
    clear: both !Important;
    display: inline !important;
}
.cover-input-wrapper {
	padding: 10px;
}
.cover-input-text {
   position: relative;
    color: #fff;
    margin-top: 110px;
    left: 15px !important;
}


.cover-heading-text {
    font-size: 20px;
    margin-bottom: 8px;
}
a.cover-feed-text {
    font-size: 12px;
    color: #A9A5A5;
    font-weight: bold;
    padding: 10px 21px 11px 0px;
    line-height: 20px;
}
.custom-cat-border{
	    border-radius: 0px !important;
}
.border-right{
	 border-right: 1px solid #B3B3B3 !important;
}
.listing-img {
    border-radius: 0px !important;
   	width: 90px !important;
     height: 90px !important;
}
button.radiuz-button {
    border: none;
    padding: 3px 15px;
    border-radius: 3px;
    margin-top: 2px; 
}
.list-listing{
	margin-bottom: 0px !important;
}
.list-listing .item{
	border-top: 0px !important;
	padding-bottom: 8px !important;
}
.mb0{
	margin-bottom: 0 !important;
}
/* End Home CSS */

/* Listing CSS */
h3.listing-title{
	    font-size: 20px;
    margin-top: 4px;
}
div.filter-btn-wrap{
	 text-align: right;
    margin-top: -4px !important;
}
div.filter-btn-wrap button {
    color: #000000 !important;
}
a.celeb-name h2 {
    font-size: 18px; 
}
a.celeb-name {
    text-decoration: none; 
}
.celeb-img-a{
	position: absolute !important;
    top: 10px !important;
    left: 10px !important;
}
/* End Listing CSS */
/*   Detail CSS */
.cover-item-detail {
    background-image: url('../img/detail-bg.jpg');
    height: 330px;
    width: 100%;
    background-size: cover;
}
.cover-detail-wrapper.cover-item-wrapper {
    max-height: 330px;
}
.celeb-img-detail img{
	height: 130px;
    width: 130px; 
    border: 3px solid #DCDCDC;
    border-radius: 2px;
}
.celeb-img-detail{
	text-align: center;
 	padding-top: 20px;
}
.celeb-info-detail{
	text-align: center;
	 padding-top: 15px;
}
.celeb-info-detail h2, .celeb-info-detail  p, .celeb-info-detail  a{
 	color: #fff;
}
.txt-right{
	text-align: right;
}
/* End Listing CSS */
